/**
* File: app.css
*/
body {
	font-family: 'Eagle Lake', cursive;
}
#afui #content {
	background: rgb(238, 188, 144) url(../images/background.jpg) center center fixed no-repeat;
	background-size: cover;
}
#afui .panel {
	background: url(../images/background.jpg) center center;
}
#afui .header {
	background: url(../images/header-green.jpg);
	border-bottom: none;
}
#afui .header h1 {
	color: /*rgb(255, 200, 50)*/ #fff;
	font-size: 20px;
	padding: 6px 0px;
}
#afui .list {
	background: url(../images/background.jpg) center center;
}
#afui #dictionary {
	background-size: initial;
}
#afui select, #afui textarea, #afui input[type=text], #afui input[type=search], #afui input[type=password], #afui input[type=datetime], #afui input[type=datetime-local], #afui input[type=date], #afui input[type=month], #afui input[type=time], #afui input[type=week], #afui input[type=number], #afui input[type=email], #afui input[type=url], #afui input[type=tel], #afui input[type=color], #afui .input-group {
	background: beige;
	margin-top: 10px;
}
#afui input:focus {
	border: 2px solid darkolivegreen;
	box-shadow: 0px 2px 5px #333;
	outline: none;
}
#afui textarea:focus {
	outline-color: darkolivegreen;
}
#afui input, textarea {
	font-family: 'Eagle Lake', cursive;
}
.left {
	float: left;
}
.right {
	float: right;
}
#afui .button {
	background: darkolivegreen;
	color: #fff;
}
#afui .button.btn-large {
	width: 100%;
}
#afui .button.btn-sepia {
	background: url(../images/background-sepia.jpg) center center;
	color: darkolivegreen;
	font-family: inherit;
}
#afui a {
	color: inherit;
	text-decoration: none;
}
#afui #translate span {
	font-size: 18px;
}
#afui span.notExists {
	background-color: #f00;
	border-radius: 4px;
	color: #fff;
	line-height: 2.5em;
	margin: 0px 3px 0px 2px;
	padding: 4px 6px;
}
#afui .list li {
	background: url(../images/background.jpg) center center;
	border-color: darkolivegreen !important;
}
#afui .list li a {
	display: block;
	margin: -20px -20px -20px -10px;
	padding: 20px 20px 20px 10px;
}
#afui .list .divider {
	background: darkolivegreen;
	color: #fff;
}
#afui .list .divider.category {
	padding-right: 20px;
	text-align: center;
}
#afui #notes span div {
	text-align: center;
}
#afui #flash-cards h1 {
	background: url(../images/background-sepia.jpg) center center;
	border: 10px double #000;
	font-size: 42px;
	margin: 5% 0%;
	padding: 20% 0px;
	text-align: center;
}
#afui .book-page {
	background: url(../images/background-sepia.jpg) center center;
	border: 10px double;
	margin-top: 10px;
}
#afui .book-page h1 {
	text-align: center;
}
#afui .book-page div {
	padding: 10px;
}
@font-face {
  font-family: 'Eagle Lake';
  font-style: normal;
  font-weight: 400;
  src: url(Eagle_Lake/EagleLake-regular.ttf);
}
@font-face {
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url(MedievalSharp/MedievalSharp.ttf);
}