<!DOCTYPE html>
<html ng-app="msl">
  <head>
    <title>My Secret Language</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />

    <!-- STYLES -->
	<link rel="stylesheet" type="text/css" href="css/af.ui.min.css" />
	<link rel="stylesheet" type="text/css" href="css/icons.min.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />

    <!-- SCRIPTS -->
	<script type="text/javascript" charset="utf-8" src="js/appframework/appframework.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/appframework/ui/appframework.ui.min.js"></script>
    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/angularjs/angular-touch.min.js"></script>
	<script type="text/javascript" charset="utf-8" src="js/my-secret-language/app.module.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/my-secret-language/app.controller.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/my-secret-language/app.directives.js"></script>

	<!-- Required if packaging to native app using Intel XDK -->
	<script src="intelxdk.js"></script>
	<script src="xhr.js"></script>
	<script>
	function onDeviceReady(){
		$.ui.launch();
		intel.xdk.device.hideSplashScreen();
	}
	document.addEventListener("intel.xdk.device.ready", onDeviceReady, false);
	</script>
	<!-- end Intel XDK code -->

	<script>
    	$.ui.autoLaunch = false;
    	$.ui.animateHeaders = false;
    	$.ui.useOSThemes = false;

    	$(document).ready(function(){
    	  $.ui.launch();
    	});
	</script>
  </head>

  <body>
    <div id="afui">
	  <div id="content" ng-controller="MSLController as msl">
		<!--HOME PAGE-->
		<div class="panel" id="page1" data-footer="none" selected="true">
		  <header>
		    <h1>Mi Scrt Lngwij</h1>
		  </header>
		  <a href="#add-words" class="button btn-large">Add new word</a>
		  <a href="#translate" class="button btn-large">Translate</a>
		  <a href="#dictionary" class="button btn-large">Dictionary</a>
		  <a href="#flash-cards" class="button btn-large">Flash cards</a>
		  <a href="#notes" class="button btn-large">Notes</a>
		</div>
		<!-- END HOME PAGE -->


		<!-- ADD WORDS PAGE -->
		<div class="panel" title="Add Words" id="add-words" data-footer="none">
		  <div class="formGroupHead">Add a new word</div>
		  <form name="addWordForm" ng-submit="msl.addWord()">
		    <label for="english-text">English</label>
			<input name="englishText" id="english-text" placeholder="English word here..." required autofocus type="text" ng-model="msl.englishText">
		    <label for="secret-text">Secret word</label>
			<input id="secret-text" placeholder="Secret word here..." required type="text" ng-model="msl.secretText">
			<input type="submit" class="button btn-large" value="Save">
		  </form>
		</div>
		<!-- END ADD WORDS PAGE -->


		<!-- TRANSLATE PAGE -->
		<div class="panel" title="Translate" id="translate" data-footer="none">
		  <textarea rows="5" placeholder="Enter your text to be translated..." ng-model="msl.translateTextarea" ng-change="msl.getTranslation()"></textarea>
		  <div>
		    <span ng-repeat="theWord in msl.translatedWords" ng-click="theWord.hasClick && msl.popupAddWord(theWord.word)" ng-class="{notExists: theWord.hasClick}">{{theWord.word}}</span>
		  </div>
		  <input type="button" ng-click="msl.clearTranslate()" value="Clear" class="button btn-large">
		  <div id="add-word-popup" ng-show="msl.showAddWordPopup">
			<form name="addFormPop" ng-submit="msl.addWordPop()">
		      <label for="secret-text-pop">{{msl.secretTextPopup.english}}</label>
			  <input id="secret-text-pop" placeholder="Translation for &quot;{{msl.secretTextPopup.english}}&quot;" required type="text" autofocus ng-model="msl.secretTextPopup.secret">
			  <input type="submit" class="button btn-large" value="Save">
			  <input type="button" ng-click="msl.showAddWordPopup = !msl.showAddWordPopup" value="Cancel" class="button btn-large red">
		    </form>
		  </div>
		</div>
		<!-- END TRANSLATE PAGE -->


		<!-- DICTIONARY PAGE -->
		<div class="panel" title="Dictionary" id="dictionary" data-footer="none">
		  <input type="search" ng-model="searchText" placeholder="Enter search term...">
		  <ul class="list">
		    <span ng-repeat="word in msl.words | filter:searchText | orderBy:'english' track by word.english">
			  <li class="divider" ng-if="msl.newLetter(word.english)">{{msl.currentLetter}}</li>
			  <li>
                  <a my-link my-function="msl.setEditWord(myParam)" href="#edit-dictionary" data-param="{{word.english}}">{{word.english}}<span class="right">{{word.secret}}</span></a>
              </li>
			</span>
		  </ul>
		</div>
		<!-- END DICTIONARY PAGE -->


		<!-- EDIT WORD PAGE -->
		<div class="panel" title="Dictionary" id="edit-dictionary" data-footer="none">
		  <form name="editWordForm" ng-submit="msl.editWord()">
		    <label for="edit-english-text">English</label>
			<input name="editEnglishText" id="edit-english-text" required type="text" ng-model="msl.words[msl.myEditIndex].english">
		    <label for="edit-secret-text">Secret word</label>
			<input id="edit-secret-text" required type="text" ng-model="msl.words[msl.myEditIndex].secret">
			<input type="submit" class="button btn-large" value="Save">
		  </form>
		  <a my-submit my-function="msl.deleteWord()" href="" class="button btn-large red">Delete</a>
		</div>
		<!-- END EDIT WORD PAGE -->


		<!-- FLASH CARDS PAGE -->
		<div class="panel" title="Flash Cards" id="flash-cards" data-footer="none">
		  <h1 ng-show="!showEnglish" ng-swipe-left="showEnglish = true">{{msl.flashWord.english}}</h1>
		  <h1 ng-show="showEnglish" ng-swipe-right="showEnglish = false">{{msl.flashWord.secret}}</h1>
		  <input class="button btn-large" type="button" ng-click="showEnglish = !showEnglish" value="Flip card">
		  <input class="button btn-large" type="button" ng-click="msl.nextWord()" value="Next word">
		</div>
		<!-- END FLASH CARDS PAGE -->


		<!-- NOTES PAGE -->
		<div class="panel" title="Notes" id="notes" data-footer="none">
		  <ul class="list">
		    <span ng-repeat="(noteIndex, note) in msl.notes track by $index">
			  <li class="divider category">{{note.categoryTitle}}</li>
			  <li ng-repeat="(categoryNoteIndex, categoryNote) in note.categoryNotes track by $index">
			    <a my-add-note href="#view-note" my-function="msl.setCurrentNote(myParam1, myParam2)" data-param1="{{noteIndex}}" data-param2="{{categoryNoteIndex}}">{{categoryNote.title}}</a>
			  </li>
			  <div><a my-add-note href="#add-note" my-function="msl.setCurrentCategory(myParam1, myParam2)" data-param1="{{note.categoryTitle}}" data-param2="{{$index}}" class="button btn-sepia icon add" value="Add note"> Note</a></div>
			</span>
		  </ul>
		</div>
		<!-- END NOTES PAGE -->


		<!-- ADD NOTE PAGE -->
		<div class="panel" title="Add Note" id="add-note" data-footer="none">
		  <div class="formGroupHead">Category: {{msl.currentCategory}}</div>
		  <form name="addNoteForm" ng-submit="msl.addNote()">
			<label for="noteTitleText">Note Title</label>
			<input name="noteTitleText" id="note-title-text" placeholder="Note title here..." required autofocus type="text" ng-model="msl.noteTitleText">
			<label for="noteDescription">Description</label>
			<textarea required rows="10" placeholder="Enter your note description..." ng-model="msl.noteDescriptionText"></textarea>
			<input type="submit" class="button btn-large" value="Save note">
		  </form>
		</div>
		<!-- END ADD NOTE PAGE -->


		<!-- VIEW NOTE PAGE -->
		<div class="panel" title="View Note" id="view-note" data-footer="none">
		  <div class="book-page">
		    <h1 ng-hide="msl.editingNote">{{msl.notes[msl.currentNote.catIdx].categoryNotes[msl.currentNote.catNoteIdx].title}}</h1>
		    <div ng-hide="msl.editingNote">{{msl.notes[msl.currentNote.catIdx].categoryNotes[msl.currentNote.catNoteIdx].description}}</div>
			<form ng-show="msl.editingNote" ng-submit="msl.editNote()">
			  <label for="noteTitleEdit">Note Title</label>
			  <input id="note-title-edit" required autofocus type="text" ng-model="msl.notes[msl.currentNote.catIdx].categoryNotes[msl.currentNote.catNoteIdx].title">
			  <label for="noteDescriptionEdit">Note Description</label>
			  <input id="note-description-edit" required type="text" ng-model="msl.notes[msl.currentNote.catIdx].categoryNotes[msl.currentNote.catNoteIdx].description">
			  <input type="submit" class="button btn-large" value="Save changes">
			</form>
		  </div>
		  <input ng-click="msl.editingNote = true" type="button" class="button btn-large" value="Edit note">
		  <input ng-click="msl.deleteNote()" type="button" class="button btn-large red" value="Delete note">
		</div>
		<!-- END VIEW NOTE PAGE -->
	  </div>
	</div>
  </body>
</html>
